# .............................................. DAY_2 ...............................................................

  # *List Methods : 
  ### 1.Append()

In [14]:
 mylist = [1,2,"Three",4.5,True,False]
 print(len(mylist))
 mylist.append(100) # Append() Is Used For The Add The Element At The Last 
 print(mylist)

6
[1, 2, 'Three', 4.5, True, False, 100]

In [15]:
print(len(mylist))

7

In [17]:
mylist.append([500,55.5]) # add The New List Object At The Last Of The List 
print(mylist)
print(len(mylist))

[1, 2, 'Three', 4.5, True, False, 100, [500, 55.5]]
8

In [18]:
mylist.insert(2,"Iceem") # This Add The Element Insted Of The Given Index 
print(mylist)

[1, 2, 'Iceem', 'Three', 4.5, True, False, 100, [500, 55.5]]

In [19]:
mylist.pop(3)

'Three'

In [21]:
mylist.pop()
print(mylist)

[1, 2, 'Iceem', 4.5, True, False]

In [28]:
mylist.append([55,56])

In [35]:
mylist.remove(True)
print(mylist)

[2, 4.5, [55, 56]]

In [36]:
new_list = mylist.copy()
new_list

[2, 4.5, [55, 56]]

In [41]:
new_list = ["A","B"]
another_list = new_list + mylist 
another_list

['A', 'B', 2, 4.5, [55, 56]]

In [42]:
new_list_1 = ["50","60"]
another_list.extend(new_list_1)
another_list

['A', 'B', 2, 4.5, [55, 56], '50', '60']

In [43]:
 another_list.clear () 
 another_list

[]

 # *Strings :
 ### 1.Quotation Is Important For The Strings ("")

In [44]:
 #String Methods 
 str_1 = " iceem is a college  " 
 print(type(str_1))
 print(str_1.lower())
 print(str_1.upper())
 print(str_1.title())
 print(str_1.capitalize())

<class 'str'>
 iceem is a college
 ICEEM IS A COLLEGE
 Iceem Is A College
 iceem is a college

In [65]:
 # Replace Method 
str_2 = "Narayan" 
str_2 = str_2.replace("a" , "y",1)
print(str_2)

Nyrayan

In [66]:
str_3 = " Narayan Is A Student Of Dr.Bamu Of Iceem  " 
str_3.count("Of")

2

In [69]:
print(str_2.startswith("N"))
print(str_2.startswith("n"))
print(str_2.endswith("n"))
print(str_2.endswith("N"))

True
False
True
False

In [84]:
# Split 
str_4 = ("Iceem Is A Engineering & Polytechnic college" )
print(str_4.split())
print(str_4.split("&"))

['Iceem', 'Is', 'A', 'Engineering', '&', 'Polytechnic', 'college']
['Iceem Is A Engineering ', ' Polytechnic college']

In [85]:
str_5 = "123456"
print(str_5.isalpha()) # It Checks Every Elements Is Alphabet Or Not 
print(str_5.isalnum()) # It Checks Every Elements Is Number  Or Not 
print(str_5.islower()) # It Coverts All Upper Cases Into In Lower Cases 
print(str_5.isupper()) # It Coverts All Lower  Cases Into In Upper Cases

False
True
False
False

# *Indexing :  Positiion Of Elements

In [92]:
str_6 = "Narayan"
print(str_6[1]) # Print From The According To Index
print(str_6[-1]) # Print From The Last according To Index
print(str_4[11:29]) # Print In Between The Given Index
print(str_4[11:29:1]) # Print Each & Every Eklement Of Given Index 
print(str_4[11:29:2]) # It Ignored The Every Second Element Of Given Endex 
print(str_4[-9:-20:-1]) # Prints Is Reverse Order 
print(str_4[-20:-9:1])

a
n
Engineering & Poly
Engineering & Poly
Egneig&Pl
cinhcetyloP
 Polytechni

### **** Palindrome String *****

In [98]:
 str_7 = "MADAM"
 str_7 == str_7[::-1]

True

In [100]:
 if str_7 == str_7[::-1] :
   print (" It Is a Palindrome " )
else : 
    print(" It Is Not A Palindrome " )

 It Is a Palindrome

 ### ******* Dictionary ****** 
 #### --> It is Collection Of  Data in Form Of Key Value And Pairs

In [121]:
my_student = {"Name": "Narayan", "Age":23 }
print(len(my_student))
print(my_student["Name"])

2
 Narayan

In [119]:

 college_students = {
    "Student_1": {"Name": "Dinesh Kawade", "Age": 21},
    "Student_2": {"Name": "Sanchit Umbarkar", "Age": 22}
                          }

    print(college_students["Student_2"]["Age"])
    print(college_students["Student_2"]["Name"])

22
Sanchit Umbarkar

In [127]:
college_students.keys()

dict_keys(['Student_1', 'Student_2'])

In [128]:
college_students.values()

dict_values([{'Name': 'Dinesh Kawade', 'Age': 21}, {'Name': 'Sanchit Umbarkar', 'Age': 22}])

In [129]:
college_students.items()

dict_items([('Student_1', {'Name': 'Dinesh Kawade', 'Age': 21}), ('Student_2', {'Name': 'Sanchit Umbarkar', 'Age': 22})])

 ## ************ Set ************
  ### 1.It Does Not allow Duplicate Elements 
  ### 2. The Element  Is Unordered 
  ### 2. IT Randomly Works ( Ordered Not Be Maintain )

In [130]:
  my_set = {1,2,3,4,5,6,7,8,9}
  print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

   ### *** Set Methods ***

In [131]:
my_set.add(50)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 50}

In [132]:
my_set.update( [60,70,80] )
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 70, 80, 50, 60}

In [133]:
my_set.remove(80) # It Gives The Error Ater Element Is Not Finds Into The Datset 
print(my_set)
my_set.discard(80) # In Not Gives Not Error In The Dataset After The elements Dataset Is Not Found
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 70, 50, 60}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 70, 50, 60}

 # ********************* Conditional Statements *****************************
  ### 1. If Statement
  ### 2. If-Else Statement
  ### 3. Nested-If Statement

In [137]:
 # If-Else Conditional Statemnet
x = 10
if x == 10:
    print("X is equal to 10")
else:
    print("X Is Not Equal To 10")

X is equal to 10

In [150]:
student_age = int(input("Enter The Student Age: "))

if student_age > 18:
    print("Student Is Adult")
else:
    print("Student is Minor")

Enter The Student Age:  20

Student Is Adult

In [161]:
# Nested If_Else Statement
user_name_input = input(" Enter Your Name : ")
if user_name_input.upper() == "ICEEM":
    user_pin = (input("Enter Your Pin :"))
    if user_pin == "Iceem@123":
       print("Welcome To The Iceem")
else:
    print("Invalid User")

 Enter Your Name :  ICEEM
Enter Your Pin : Iceem@123

Welcome To The Iceem

In [4]:
   # Login Form
   user_email_or_phone_no = input("Enter Your Email/Phone: ")

if user_email_or_phone_no == "narayanadhude2004@gmail.com" or user_email_or_phone_no == "7030503039":
    user_passwd = input("Enter Your Password: ")
    if user_passwd == "Neet@2022":
        print("Login Successfully!...")
    else:
        print("Invalid Password")
else:
    print("Invalid User")

Enter Your Email/Phone:  7030503039
Enter Your Password:  Neet@2022

Login Successfully!...

### ***** Loops ******
### 1. For Loop
### 2. While Loop

In [6]:
# Loops 
# 1.For Loop
# 2.While Loop

for i in range(3):
   print ( " Hello")

 Hello
 Hello
 Hello

In [8]:
for i in range(3):
   print (f" {i} Hello")

 0 Hello
 1 Hello
 2 Hello

In [12]:
# Numbers From 1 To 20
for i in range(1,21,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [13]:
# Table of 5
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [21]:
list_1 = [1,2,3,4,5,6,7,8,9]
for i in list_1:
  print(i**2)

1
4
9
16
25
36
49
64
81

In [39]:
even_num = []
odd_num = []

for i in range(0,101):
     if i % 2 == 0:
         even_num.append(i)
     else:
         odd_num.append(i)
         
print("Even Numbers From 1 to 101")
print(even_num)
print("Odd Numbers From 0 to 101")
print(odd_num)

Even Numbers From 1 to 101
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd Numbers From 0 to 101
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [63]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{j} * {i:1} = {i*j:1}", end ="\t")
    print()

1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9	10 * 1 = 10
1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18	10 * 2 = 20
1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27	10 * 3 = 30
1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36	10 * 4 = 40
1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45	10 * 5 = 50
1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54	10 * 6 = 60
1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63	10 * 7 = 70
1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72	10 * 8 = 80
1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81	10 * 9 = 90
1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50	6 * 10 = 60	7 * 10 = 70	8 * 10 = 80	9 * 10 = 90	10 * 10 = 100

In [76]:

total = 0
for i in range(1, 11):
    total += i
print("Sum =", total)

Sum = 55

In [78]:
 # Star Pattern 
 rows = int(input(" Enter The Rows : "))

for i in range(rows+1):
    for j in range(1,i+1):
        print("*",end =" ")
    print()

 Enter The Rows :  10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [7]:
# While Loop 
# Table of 5 Using while Loop
x = 1

while x <= 10:
    print(x*5)
    x += 1

5
10
15
20
25
30
35
40
45
50

### ************* Guess Game ************

In [18]:
import random
secret_number = random.randint(1,100)
guess = None 
attempts = 0

while guess != secret_number:
    guess = int(input(" Enter The Number : " ))
    attempts += 1
    if guess < secret_number:
        print("Low")
    elif guess > secret_number:
        print("Too high")
    else:
        print(f"You Guess it in {attempts} attempts")

 Enter The Number :  5

Low

 Enter The Number :  8

Low

 Enter The Number :  9

Low

 Enter The Number :  10

Low

 Enter The Number :  50

Low

 Enter The Number :  75

Too high

 Enter The Number :  60

Too high

 Enter The Number :  55

Too high

 Enter The Number :  52

You Guess it in 9 attempts

## ************ Functios ******************
### --> It Is Block Of Code In Which A  Set Of Operation Is Already Done 
## **** Types Of Functions *****
### 1. In-Built Functions
### 2. User Define Functions 
### 3. Lambda Function

In [24]:
# Functions 

def sub (): # User defined Functions 
    print( 7  -  2 )
sub()

5

In [35]:
def add(num_1 ,num_2): # Parameter Passing 
    print("The Addition Is :",num_1 + num_2, )
    
num_1 = int(input(" Enter The First Number " ))
num_2 = int(input("Enter The Second Number "))

add(num_1,num_2)

 Enter The First Number  25
Enter The Second Number  26

The Addition Is : 51

### *********** Arbitary Arguments ******

In [40]:
def numbers (*args):
    for i in args:
        print(i)
numbers(1,2,3)

1
2
3

In [53]:
def even_odd(*args):
    even_num = []
    odd_num = []
    for i in args:
        if i % 2 == 0:
            even_num.append(i)
        else:
            odd_num.append(i)
    return even_num, odd_num

# Calling the function with numbers from 1 to 100
even_num, odd_num = even_odd(*range(1, 101))

print("Even Numbers:")
print(even_num)
print("Odd Numbers:")
print(odd_num)

Even Numbers:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd Numbers:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [55]:
 # Lambda Function 
x = lambda a : a + 10 
print(x(6))

16