 # ......Day_One.....

 # *  What Is Python ? 
 ## 1. Easy To Learn 
 ## 2. Object Oriented , Interpreted , High LLevel Language 
 # * Features Of Python : 
 ## 1. Platform Independent 
 ## 2 . It Can Embedded 
 ## 3. Functional Programming Can Be Done 
 #  * History Of Python :
 ## 1. Found in 1980 
 ## 2. Realeased In 1994 ( Python 1.0 ) 
 # * IDE : 
 ## 1.Pycharm 
 ## 2.Jupyter Notebook

# * Keywords In Python : Predefined Words In Python ( That Cannot Be Change )

In [ ]:
import keyword
print( keyword.kwlist)

In [12]:
len(keyword.kwlist)

35

# * IdentiFiers In Python : It is Name Given To The Entities Like Class , Functions , variable etc.
## It helps To Differentiate Between one Entiti From Another .
# * Rules For Variable Name :
## 1. variable Should Not Start With Numbers ... ex. 123Variable ( Not Allowed ) But ( variable_123 ) Is Allowed . 
## 2. Variable Name Should not Contain any Special Characters Like ex.( Variablw@123)  except ( Underscore ( _ ) ) Ex. Variable_123 Is Allowed .
## 3. Variable Name Should Not Start With Capital Letter . Ex. Var_123 is Not Allowed . 
# * Variables : A Container To Store The Coputers The Data Or Memory .

In [13]:

name = " Narayan Adhude " 
print(name)

 Narayan Adhude

In [14]:
# Address Where The Name Is Stored .
print(hex(id(name)))

0x1401cdd6eb0

In [15]:
sum = 10 + 20 
print(sum)

30

In [16]:
# variable a Initialization 
a = 10 
# variable b initialization
b = 20 
# Addition Of a and B 
sum = a + b 
# Display The Addition 
print(sum)
# Display The Address Of Sum variable in Hexadecimal 
print(hex(id(sum)))

30
0x7ffc09882d58

# * Input Function : We Get The Value From The User .

In [21]:
 # Get The Value Of a from The User 
 a = int(input(" Enter The Value Of a " ) )
 # Get The Value Of b From The User 
 b = int(input(" Enter The Value Of b " ))
 # Display Value Of c  
 c = a + b 
 print ( c )
 print(hex(id(c)))

 Enter The Value Of a  5
 Enter The Value Of b  6

11
0x7ffc09882af8

In [35]:
 # String Display 
 first_name = input(" Enter Your First Name : "  )
 last_name = input(" Enter Your Last Name " ) 
 print( first_name,"||", last_name)
 # Here Concatenation Used 
 print( first_name+"||"+last_name)

 Enter Your First Name :  Narayan
 Enter Your Last Name  Adhude

Narayan || Adhude
Narayan||Adhude

In [36]:
# Separetor Function Used Here 
print( first_name, last_name, sep="||")

Narayan||Adhude

In [37]:
print(first_name)
print(last_name)

Narayan
Adhude

In [38]:
# ( end = " " ) Is Used To set Text In One Line 
print(first_name , end = " ")
print(last_name)

Narayan Adhude

In [41]:
         a = int(input(" Enter The Number :  ") )
         b = int(input(" Enter The Number : " ) )
         print(" The Addition Is :" , a + b ) # Addition 
         print(" The Substraction  Is :" , a - b ) 
         print(" The Multiplication Is :" , a * b )
         print(" The Division Is :" , a / b )
         print(" The Modulus Is :" , a % b )

 Enter The Number :   60
 Enter The Number :  50

 The Addition Is : 110
 The Substraction  Is : 10
 The Multiplication Is : 3000
 The Division Is : 1.2
 The Modulus Is : 10

In [60]:
a,b,c = "10" , 20, 5.7
print(a,b,c,sep = "|" , end = "|" )

10|20|5.7|

In [61]:
p1 = p2 = p3 = p4 = 20 
print(p1,p2,p3,p4)

20 20 20 20

In [62]:
print(id(p1))
print(id(p2))

140720468405272
140720468405272

In [71]:
print(first_name,last_name)
print(" My First Namre Is " , first_name , " My Last name Is " , last_name ) ;

Narayan Adhude
 My First Namre Is  Narayan  My Last name Is  Adhude

In [77]:
# Format Method 
print(" My First Namre Is : {} My Last name Is :  {} " .format(first_name , last_name) ) 
# Changing Index Number 
print(" My First Name Is : {1} My Last name Is :  {0} " .format(first_name , last_name) ) 
# f-String
print(f" My First Namre Is : {first_name} My Last name Is :  {last_name} " ) ;

 My First Namre Is : Narayan My Last name Is :  Adhude
 My First Name Is : Adhude My Last name Is :  Narayan
 My First Namre Is : Narayan My Last name Is :  Adhude

 # * Data Types In Python :
 ### 1.Integer 
 ### 2.Float
 ### 3.Boolean
 ### 4.String 
  ## Sequenced Data Types : 
 ### 1.List : It Can Be Change ( Mutable )
 ### 2.Tuple : It Cannot Be Changed ( Immutable )
 ### 3.Range

In [86]:
 # Numerical data Types 
x = 10      # Integer 
print(type(x))

y = 50.23 # Float 
print(type(y))

c = True 
print(type(c))

d = 5j
print(type(d))

 # Sequenced Data Types 
my_list = [20,50,"40",50,60,90.5] 
print(type(my_list))

my_tuple = ( 1,2,3,4)
print(type(my_tuple))

my_range = range( 1,5)
print(list(my_range))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
[1, 2, 3, 4]

In [84]:
 my_list [2] = 30 
print(my_list) # Mutable But In Case Of Tuple It Cannot Be Done .

[20, 50, 30, 50, 60, 90.5]